<section class="container">
    <h2 class="text-center">Acerca</h2>
    <hr id="hr-gradient">
    <div class="row text-center" id="content-about">
        <div class="col-12 col-lg-6">
            <h3>Un poco de mi.</h3>
            <div class="d-lg-flex justify-content-center align-items-center" id="content-about-me">
                <span class="material-icons" id="profile-icon">
                    account_circle
                </span>
                <p class="text-center text-lg-start" id="about-me-txt">
                    Soy un apasionado de la tecnología y me encanta el desarrollo de software. 
                    Constantemente me gusta estar aprendiendo nuevas librerías o frameworks, 
                    en lo particular me gusta mucho el desarrollo frontend, web y móvil.
                </p>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <h3>Formación.</h3>
            <div class="ps-lg-5 pt-5">
                <div class="ms-lg-5" id="timeline-border">
                    <div *ngFor="let title of titles" class="d-flex mb-4">
                        <span class="material-icons" id="circle-icon">
                            circle
                        </span>
                        <div class="text-lg-start me-4 me-lg-0" id="container-education">
                            <p id="title-name">{{title.name}}</p>
                            <p class="d-flex justify-content-center justify-content-lg-start" id="aditional-data-education">
                                <span class="material-icons-round icon-custom">
                                    location_on
                                </span>
                                &nbsp;&nbsp;{{title.location}}&nbsp;&nbsp;
                                <span class="material-icons-round icon-custom">
                                    event
                                </span>
                                &nbsp;&nbsp;{{title.year}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-center mt-5">Valores</h3>
    <hr id="hr-circular">
    <div class="row pt-5">
        <div *ngFor="let value of values" class="col-12 col-lg-3 mb-4">
            <div id="container-value">
                <img class="d-block mx-auto mb-4" [src]="'/assets/img/about/'+value.image" alt="value" id="value-img">
                <h5 class="text-center mt-4">{{value.title}}</h5>
            </div>
        </div>
    </div>
</section>