section {
  padding-top: 125px;
}

#hr-gradient {
  margin: auto;
  background: var(--gradientBlue);
  height: 7.5px;
  width: 65px;
  opacity: 1;
}

.container-skills {
  border-radius: 15px;
}

h4 {
  font-family: "Montserrat Bold";
  color: var(--white);
}

h5 {
  font-family: "Montserrat Medium";
  font-weight: 600;
  color: var(--black);
}

p {
  font-family: "Montserrat Medium";
  color: rgb(233, 233, 233);
  line-height: 28px;
}

#container-frontend-skills {
  background: var(--gradientBlue);
}

#container-backend-skills {
  background: var(--gradientOrange);
}

#container-design-skills {
  background: var(--gradientPurple);
}

#hr-circular {
  margin: auto;
  height: 13px;
  background-color: rgb(228, 228, 228);
  border-radius: 100px;
  width: 135px;
  opacity: 1;
}

.skill-image {
  width: 75px;
  height: 75px;
}

#icon-dart{
    width: 80px;
}

#icon-flutter {
  width: 65px;
}

#icon-tailwindcss {
  width: 110px;
}

#icon-bootstrap {
  width: 100px;
}

#icon-php{
    width: 125px;
}

#icon-mongodb{
    width: 40px;
}

#icon-mysql{
    width: 90px;
}

#icon-adonis{
    width: 80px;
}

#icon-laravel{
    width: 80px;
}

#icon-figma{
    width: 50px;

}

#icon-react{
    width: 100px;
    height: 100px;
}

.skill-additional-icon{
  width: 75px;
  height: 75px;
  margin: 25px;
}
